<div class="row">
  <div class="col-md-9">
    <gridster [options]="options">
      <gridster-item [item]="item" *ngFor="let item of items">        
        <div class="gridster-item-content m-2">
          <div class="control-icons">
            <span  (click)="onControlSettingClick($event,item)"><i class="bi bi-gear"></i></span>
            <span (click)="removeItem($event,item)" class="p-2"><i class="bi bi-x-circle"></i></span>
          </div>
          <ng-container #container></ng-container>
        </div>
      </gridster-item>
    </gridster>
  </div>
<div class="col-md-3">
<div class="text-center m-2"><input type = "button" class="btn btn-success" value="Save Layout"> <hr></div>
<div class="card mt-2"  *ngFor="let row of data; let index = index" 
[draggable]="true" 
[class.dragging]="index === this.draggingIndex"
(dragstart)="onDragStart(index)" 
(dragend)="onDragEnd(index)">
  <div class="card-body text-center">
    {{row.controlName}}
  </div>
</div>

  </div>
</div>


 