:host{

    gridster{
        height: 90vh;
    }
    .control-icons{
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.15rem;
        span{
            cursor: pointer;
        }
    }


}